.row.js-gem-selector.medium-break-after
  .span1
    = render partial: 'gems/qualities'
  .span1
    = render partial: 'gems/types'
  .span2
    %button.btn.btn-block.btn-success.js-submit-choice{type: 'button', data: {hotkey: '%space'}} Add
    %button.btn.btn-block.btn-danger.js-clear-choices{type: 'button'} Reset All
  .span8
    .js-selection-alert.alert.alert-error.text-center.hidden
      %i.icon-exclamation-sign
      An available gem must have both a
      %strong quality
      and
      %strong gem type
      set
    .js-selection-count-alert.alert.alert-error.text-center.hidden
      %i.icon-exclamation-sign
      You can only choose between a maximum of
      %strong five
      gems
    .js-suggested-gem.hidden
      .label.label-info
        Suggestion:
      .js-suggestions
        %button.btn.btn-primary{type: 'button', data: {hotkey: '%enter'}} Test
    %br
    %br
    = render partial: 'gems/available'
