.navbar.navbar-fixed-top
  .navbar-inner
    .container
      .row
        .span3
          %button.btn.btn-info.btn-primary{type: 'button', data: {toggle: "modal", target: "#save-window"}} Save Configuration
        .span3
          %button.btn.btn-info.btn-info{type: 'button', data: {toggle: "modal", target: "#load-window"}} Load Configuration
= render partial: 'configurations/edit'
= render partial: 'configurations/index'
