#load-window.modal.hide.fade{role: 'dialog', tabindex: '-1'}
  .modal-header
    %button.close{type: 'button', data: {dismiss: 'modal'}}
      %i.icon-remove
    %h3 Load Configuration
  .modal-body
    %form.form-inline.js-saved-configurations
      %ul.unstyled
  .modal-footer
    %button.btn.btn-warning.pull-left.js-load-default-config{data: {dismiss: "modal", confirm: "This will reset all quantity and priority selections to '1'"}} Load Default
    %button.btn{data: {dismiss: "modal"}} Close
