%table.table.table-striped.table-condensed.js-gem-recipes
  %thead
    %tr
      %th{title: "Priority"} P
      %th Name
      %th{title: "Quantity"} Q
      %th Gem 1
      %th Gem 2
      %th Gem 3
      %th Gem 4
  %tbody
    = render partial: 'recipes/recipe', collection: @recipes, as: :recipe
    = render partial: 'recipes/recipe', collection: @upgrade_recipes, as: :recipe, klass: 'js-optional-recipe'
